<h2><%= @list.name %></h2>

<p><%= @list.movies.overview %></p>
<p><%= @list.movies.rating %></p>
<p><%= image_tag @movie.poster_url, alt: @movie.title, width: 200%></p>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
